h1 {
	font-family: cursive;
	font-size: 15px;
	color: blue;
}

body {
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/e5/Chrysler_Building_Midtown_Manhattan_New_York_City_1932.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
}