h1 {
	font-family: Lato sanserif;
	font-size: 30px;
	color: black;
	position: relative;
    top: 10px;
	text-align: center;
}

body {
	background-color: white;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
}